OPENAI_API_KEY=
NEXT_PUBLIC_APPWRITE_HOST_URL=
NEXT_PUBLIC_PROJECT_ID=
APPWRITE_API_KEY=
NEXT_PUBLIC_DATABASE_ID=
NEXT_PUBLIC_QUIZ_COLLECTION_ID=
NEXT_PUBLIC_QUESTION_COLLECTION_ID=
NEXT_PUBLIC_RESULTS_COLLECTION_ID=
NEXT_PUBLIC_USER_COLLECTION_ID=